/* form styles -------------------- */

input {
	font-weight: 700;
}

#repo-select {
	float: right;
	margin-top: 20px;
}

#repo-dropdown, 
#selected-repo {
	width: 200px;
	height: 35px;
	margin-top: 25px;
	margin-left: 10px;
	font-size: 1em;
}

#repo-dropdown {
	height: 33px;
	padding: 15px;
}

/* radio styles ------- */

#shifts-radio-table,
#shifts-radio-table2 {
	float: right;
}

@media (max-width: 768px) {

	#repo-select {
		float: left;
	}

	#repo-dropdown, 
	#selected-repo {
		margin-top: 0;
		margin-left: 0;
	}

}
