// navbar styles

#main-nav {
	padding-top: 5px;
	padding-bottom: 5px;
	background: $white;
}

//target of toggle for nav-hamburger
#navbar {
	padding-right: 50px;
	font-size: 17px;
	font-family: $stack-source-sans;
	font-weight: 400;
	color: $text-med-gray;
}

#nav-hamburger {
	margin-right: 50px;
}

//brand-toggle group from bootstrap
.navbar-header {
	padding-left: 25px;
}

#S-logo {
	width: 45px;
	height: 45px;
	background: #f4645f;
	background-image: linear-gradient(to top right,#f7928f,#f4645f);
	border-radius: 150px;
	color: #fff;
	font-family: $stack-source-sans;
	font-size: 30px;
	font-weight: 200;
	padding: 5px 15px;
	margin-top: -10px;
	text-align: center;
}

// 'S' logo text-shadow
#S-logo {
	text-shadow: 0 1px #f4645f,-1px 0 #f3bd92,-1px 2px 
	#f4645f,-2px 1px #f3bd92,-2px 3px #f4645f,-3px 2px 
	#f3bd92,-3px 4px #f4645f;
}

//green button in the navbar right side
.nav-new-shift {
	border-radius: 5px;
	margin-top: 5%;
	font-size: 16px;
	font-family: $stack-source-sans;
	font-weight: 400;
}

@media (min-width: 768px) {
	.nav-new-shift a {
	    padding-top: 8px;
	    padding-bottom: 8px;
	}

	#navbar {
		padding-right: 75px;
	}

	.navbar-header {
		padding-left: 75px;
	}

	#S-logo {
		margin-top: -10px;
	}
}

