// NavBar Styles

#navbar {
	padding-right: 50px;
}

#nav-hamburger {
	margin-right: 50px;
}

.navbar-header {
	padding-left: 25px;
}

#logo {
	width: 35px;
	height: 35px;
	margin-top: -5px;
}

.nav-new-shift {
	border-radius: 5px;
	height: 50%;
	margin-top: 8%;
	margin-bottom: 8%;
}

@media (min-width: 768px) {
	.nav-new-shift a {
	    padding-top: 8px;
	    padding-bottom: 8px;
	}

	#navbar {
		padding-right: 75px;
	}

	.navbar-header {
		padding-left: 75px;
	}
}

