/* table styles -------------------- */

.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th,
.borderless thead tr td,
.borderless tfoot tr th,
.borderless tfoot tr td {
	border: none;
}

/* dashboard table styles -------------------- */

.panel {
	padding-left: 0;
	padding-right: 0;
	border: none;
	background: $white;
}

.panel-heading {
	padding: 0;
}

.panel-heading h1 {
	margin-top: 0;
}

.table>thead>tr>th, .table>tbody>tr>th {
    vertical-align: middle;
    border-bottom: none;
}

.table>thead>tr>th:first-child, .table>tbody>tr>th:first-child {
    padding-left: 20px;
}
.table>thead>tr>th:last-child, .table>tbody>tr>th:last-child {
    padding-right: 20px;
}

.bottom-row {
	border-bottom: 2px solid $border-gray;
}

#shift-header {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 1.3em;
	letter-spacing: 1px;
	border-top: none;
}

.b-border {
	border-bottom: 2px solid $carnation;
}

/* get started page table styles------ */

#shifts-radio-table>tbody>tr>td,
#shifts-radio-table2>tbody>tr>td {
	padding: 0;
}

/* media queries -------------------- */
@media (max-width: 992px) {
		.table {
		font-size: 0.85em;
	}
}

@media (max-width: 768px) {

	.table-responsive {
		border: none;
	}

	.table {
		font-size: 0.75em;
	}
}



