/* base styles------------------- */

* {
  box-sizing: border-box;
}

body {
  background: $bg-light-gray;
  color: $text-lt-gray;
}

body {
	background: $bg-light-gray;
  color: $text-lt-gray;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 16px;
	margin-bottom: 80px;
}

section {
	padding-top: 15px;
}

ul {
	list-style: none;
}

/* carnation horizontal divider ---- */
#fw-divider {
	height: 2px;
	border-bottom: 2px solid $carnation;
}










