/* base styles------------------- */

* {
  box-sizing: border-box;
}

body {
	background: $bg-light-gray;
  color: $text-lt-gray;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 16px;
	padding-top: 93px; //account for fixed navbar
	padding-bottom: 100px;
}

//home page body
#home-page-body {
	padding-top: 0;  //remove this from home page body tag if fixed navbar added to home page
	background: $white;
}

section {
	padding-top: 15px;
}

ul {
	list-style: none;
}

/* carnation horizontal divider ---- */
#fw-divider {
	height: 2px;
	border-bottom: 2px solid $carnation;
}

.centered {
	text-align: center;
}










