// Color Classes

.bg-jungle-green {
	background: $jungle-green;
}

.jungle-green-text {
	color: $jungle-green;
}

.carnation-text {
	color: $carnation;
}

.white {
	color: $white !important;
}

.black {
	color: $black;
}

.drk-gray {
	color: $text-drk-gray;
}