// descriptive color variables

$white          : #fff;
$black          : #000;
$bg-light-gray	: #f4f4f4;
$text-drk-gray	: #414448;
$text-med-gray	: #3a3a3a;
$text-lt-gray	: #777;
$border-gray	: #dbdbdb;
$jungle-green	: #27b4a8;
$carnation		: #f4645f;
$porsche		: #e87f5a;  //for use with carnation-gradient
$carnation-line	: #f3423b;  //for text-shadows with carnation

// functional color variables - what their function is in the design


// font stacks

$stack-miriam   : 'Miriam Libre', sans-serif;
$stack-source-sans : 'Source Sans Pro', sans-serif;

// asset paths

$path-img  : '../img';
$path-font : '../fonts';

// media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';


