// NavBar Styles

.nav {
	padding-right: 50px;
}

.navbar a{
	padding-left: 50px;
}

.navbar img {
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
}

.nav-new-shift {
	border-radius: 5px;
	height: 50%;
	margin-top: 8%;
	margin-bottom: 8%;
}

@media (min-width: 768px) {
	.nav-new-shift a {
	    padding-top: 8px;
	    padding-bottom: 8px;
	}
}

