/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  background: $bg-light-gray;
  color: $text-lt-gray;
}

/* Dashboard Page ------------------ */
#dash-header {
	padding-left: 0;
	padding-bottom: 20px;
}

#new-shifts-bottom {
	width: 80%;
	padding: 20px 0 20px;
}

/* Empty-state (Get Started page) --- */
#get-started {
	width: 90%;
	background: $white;
	padding: 50px;
	margin-top: 25px;
}

#get-started-text {
	text-align: justify;
	padding-top: 8px;
}

#trucks {
	padding-top: 20px;
}

#truck1 {
	width: 40%;
}

#truck2 {
	margin-left: 20px;
	width: 40%;
}

#emptystate-button {
	width: 80%;
	margin-top: 25px;
}




