/* empty-state (get started page) styles--- */
#get-started {
	background: $white;
	padding: 25px;
	margin-top: 25px;
}

#get-started-text {
	text-align: justify;
	padding-top: 8px;
	padding-right: 30px;
}

#trucks {
	padding-top: 20px;
}

#truck1 {
	width: 40%;
}

#truck2 {
	margin-left: 20px;
	width: 40%;
}

#emptystate-button {
	width: 80%;
	margin-top: 25px;
}

@media (max-width: 768px) {
	
	#get-started-text {
		padding-right: 0;
	}

}