/* HOME PAGE STYLES---------------------------------------- */

#home-header {
	color: $white;
	text-align: center;
	padding: 20px 25px 50px 25px;
}
/* GITHUB NAV LINK--------------------------------------------- */
#nav-github ul {
	float: right;
}

#nav-github li {
	display: inline-block;
	float: left;
}

#nav-github p {
	font-size: 0.7em;
	letter-spacing: 1.5px;
	margin-top: 7px;
	padding-right: 10px;
}

/* 'SHIFT' brand centered in the header--------------------------- */
#shift-logo {
	padding-top: 50px;
	font-size: 72px;
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 20px;
	text-transform: uppercase;
	text-shadow: 0 1px #f4645f,-1px 0 #f3bd92,-1px 2px 
	#f4645f,-2px 1px #f3bd92,-2px 3px #f4645f,-3px 2px 
	#f3bd92,-3px 4px #f4645f,-4px 3px #f3bd92,-4px 5px 
	#f4645f,-5px 4px #f3bd92,-5px 6px #f4645f,-6px 5px 
	#f3bd92,-6px 7px #f4645f,-7px 6px #f3bd92,-7px 8px 
	#f4645f,-8px 7px #f3bd92;
}

.home-header-text {
	text-shadow: 1px 1px $carnation-lt;
	letter-spacing: 1px;
}

//SQUARE CARD STYLES--------------------------------------------------*/

/* ul square styles------- */
#ul-squares-wrapper {
	text-align: center;
}

#shift-squares-list {
	display: inline-block;
	margin-bottom: 75px;
}

#shift-squares-list li {
	text-align: center;
	display: inline-block;
	padding-right: 10px;
}

#shift-squares-list:first-child {
	padding: 0;
}

.squares {
	width: 85px;
	height: 85px;
	text-shadow: 0 0 $carnation-lt;
	background: $white;
	border-radius: 3px;
	padding: 0 15px 3px;
}

//SQUARE CARD box shadow    -----*/
.squares {
	/* 50% black box shadow */
	-webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.numbers {
	font-size: 2.4em;
	line-height: 1.0;
	color: $carnation;
}

.laravel {
	font-size: 0.8em;
	color: $carnation;
	padding-top: 10px;
	margin-bottom: 0;
}

.dash-line {
	padding-top: 0;
	text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
}

.minus-margin {
	margin-top: -25px;
	font-size: 0.50em;
	letter-spacing: 1px;
}

/* HOW IT ALL WORKS SECTION styles----------------------------------------- */
#works,
#testimonials,
#demo {
	color: $text-med-gray;
	text-align: center;
}

#section-header {
	padding-top: 50px;
	padding-bottom: 50px;
	background: $white;
	font-weight: 600;
}

#steps-container {
	background: $bg-light-gray;
	padding: 0 50px 75px 50px;
}

.step-list-header {
	float: left;
	padding-left: 0;
	padding-top: 75px;
	padding-bottom: 15px;
}

.step-list-header li {
	display: inline-block;
	padding-right: 15px;
}

.steps {
	padding: 15px;
}

.oval {
	background-color: $text-med-gray;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	margin-right: 0;
}

#steps-container h2 {
	color: $text-med-gray;
	font-family: $stack-source-sans;
	text-align: left;
	font-weight: 600;
}

.step-number {
		line-height: 35px;
		font-family: $stack-source-sans;
		text-align: center;
		color: $white;
		font-size: 24px;
}

#steps-container p {
	text-align: left;
	line-height: 24px;
	font-size: 16px;
	color: #768093;
}

// divider --------------------------------------------------------------*/
#home-carnation-divider {
	width: 168px;
	height: 5px;
	border: 5px solid #FF9692;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 50px;
	font-family: $stack-source-sans;
}


/* MUST BE EXPENSIVE styles----------------------------------------- */

#expensive {
	color: $text-med-gray;
	text-align: center;
}

#nope {
	padding: 50px 200px;;
	font-size: 24px;
	text-align: center;
	line-height: 31px;
	color: $text-med-gray;
}

#prices {
	background: $text-med-gray;
	box-shadow: 0 1px 25px 0 rgba(0,0,0,0.25);
	text-align: center;
	font-size: 18px;
	color: $white;
	line-height: 23px;
	padding-top: 25px;
}

#dollars {
	color: $white;
	font-size: 116px;
	font-weight: 400;
	line-height: 146px;
	padding-bottom: 25px;
}
//for span 'to'
.dollars {
	color: $text-lt-gray;
	font-weight: 200;
}

#see-shifts {
	text-align: center;
	font-size: 18px;
	color: $carnation;
	line-height: 23px;
	padding-top: 25px;
}

/* TESTIMONIAL STYLES styles---------------------------- */
#testimonial-container {
	background: $bg-light-gray;
	width: 100%;
	padding: 20px;
}


/* DEMO/START NOW BUTTON styles---------------------------- */
#btn-demo {
	width: 350px;
	font-family: $stack-miriam;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	color: $white;
	margin-top: 50px;
	margin-bottom: 168px;
	background: $text-med-gray;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 50px;
}

#btn-start-now {
	width: 350px;
	font-family: $stack-miriam;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	color: $white;
	margin-top: 50px;
	margin-bottom: 168px;
	background: $carnation;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* CLEARFIX styles----------------------------------------- */
//apply to container holding inline elements
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* HOME PAGE MEDIA queries --------------------------------- */
@media (max-width: 992px) and (min-width: 768px) {

	#steps-container h2 {
		font-size: 20px;
	}

	#nope {
		padding: 50px 100px;
	}

	.step-list-header {
		padding-top: 10px;
	}

	.step-list-header li {
		padding-right: 5px;
	}

	#dollars {
		font-size: 84px;
	}

	#btn-demo {
		margin-right: 10px;
	}

}

@media (max-width: 769px) {

	.squares {
		width: 55px;
		height: 55px;
	}

	.numbers {
		font-size: 1em;
	}

	.laravel {
		font-size: 0.5em;
		padding-top: 10px;
		margin-bottom: 0;
	}

	#steps-container {
		padding: 0 15px 75px 15px;
	}

	.step-list-header {
		padding-top: 20px;
	}

	#nope {
		padding: 30px 50px;
	}

	#dollars {
		font-size: 72px;
	}

	#btn-demo {
		margin-right: 0;
		margin-bottom: 20px;
	}

	#btn-start-now {
		margin-top: 20px;
		margin-left: 0;
	}

}

@media (max-width: 480px) {

	.squares {
		width: 40px;
		height: 40px;
		padding: 0;
	}

	.numbers {
		font-size: 0.75em;
	}

	.laravel {
		font-size: 0.5em;
		padding-top: 5px;
	}

	#nope {
		padding: 15px 50px;
	}

}

@media (max-width: 320px) {

	.squares {
		width: 30px;
		height: 30px;
		padding: 0;
	}

	.numbers {
		font-size: 0.7em;
	}

	.laravel {
		font-size: 0.4em;
		padding-top: 5px;
	}

}










