/* new-shift page styles----------------- */
#new-shift-main-header {
	padding-left: 0;
}

#new-shift-content {
	background: $white;
	margin-top: 25px;
}

#proj-sect1 {
	width: 95%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

#proj-sect2 {
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid $border-gray;
	padding-bottom: 20px;
}

#proj-sect3 {
	width: 95%;
	margin: 0 auto;
	border-bottom: 1px solid $border-gray;
	padding-bottom: 20px;
}

#proj-sect4 {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 20px;
}

/* new-shift page authenticated button styles sect1--------- */
#authenticated {
	font-size: .7em;
	font-family: $stack-miriam;
	text-align: center;
	background: $carnation;
	border: 1px solid $carnation;
	border-radius: 25px;
	color: $white;
	padding: 2px 5px;
	float: right;
	margin-top: 20px;
}

#authenticated a {
	color: $white;
	margin-left: 15px;
}

/* new-shift page - form - sect2--------- */
#repo-select {
	float: right;
	margin-top: 20px;
}

#repo-dropdown, 
#selected-repo {
	width: 200px;
	height: 35px;
	margin-top: 25px;
	margin-left: 10px;
	font-size: 1em;
}

#repo-dropdown {
	height: 33px;
	padding: 15px;
}

/* new-shift laravel shifts div and price table styles in sect3--------- */
input[type=radio] {
    margin: 2px 0 0;
}

#laravel-shifts {
	float: right;
	padding-left: 50px;
}

/* radio styles ------- */

#shifts-radio-table,
#shifts-radio-table2 {
	float: right;
}

.price {
	padding-top: 10px;
}

.shift-description {
	font-family: $stack-source-sans;
	font-size: 14px;
	color: $text-ltr-gray;
	padding: 8px 0 0 10px; 
}

/* new-shift page checkout button div in sect4 styles --------- */
#ck-out-button-div {
	margin: 0 auto;
	margin-top: 35px;
	padding: 8px 12px 8px 50px;
}

/* new-shift media queries --------- */
@media (max-width: 992px) {

	#ck-out-button-div {
		margin: 0 auto;
		margin-top: 75px;
		padding-left: 15px
	}

}

@media (max-width: 768px) {

	#ck-out-button-div {
		margin: 0 auto;
	}
  /* sect 1 ----- */
	#authenticated {
		float: left;
		font-size: 10px;
	}
  /* sect 2 ----- */
	#repo-select {
		float: left;
	}

	#repo-dropdown, 
	#selected-repo {
		margin-top: 0;
		margin-left: 0;
	}
	/* sect 3 ----- */
	#laravel-shifts {
		float: left;
		padding-left: 15px;
	}

}

@media (max-width: 480px) {

}









